<nav class="site-nav">
  <a href="/" class="nav-logo">Shatranj<span>.com</span></a>
  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/game?mode=online">Play</a>
    <a href="/leaderboard">Leaderboard</a>
    <a href="/play" class="nav-legacy">Classic</a>
  </div>
</nav>
